.post {
	min-width: 960px;
	max-width: 960px;
	padding: 48px 24px;
	margin: 0 auto;
	a {
		margin: 0 0 72px 0;
	}
	h1 {
		color: #000;
		margin-bottom: 24px;
		font-weight: 700;
		&::first-letter {
			text-transform: uppercase;
		}
	}

	p {
		&::first-letter {
			text-transform: uppercase;
		}
	}
	@media screen and (max-width: 960px) {
		min-width: 100%;
		max-width: 100%;
		padding: 48px 24px;
	}
}


@-webkit-keyframes k1{
    from{
        background-position:-500px 0px
    }
    to{
        background-position:500px 0px
    }
}
@-moz-keyframes k1{
    from{
        background-position:-500px 0px
    }
    to{
        background-position:500px 0px
    }
}
@keyframes k1{
    from{
        background-position:-500px 0px
    }
    to{
        background-position:500px 0px
    }
}
.fela-1nydhak{
    transition:-webkit-transform .5s,transform .5s;
    -webkit-transition:-webkit-transform .5s,transform .5s;
    -moz-transition:transform .5s
}
.fela-y4p3cb{
    width:100%;
    overflow:hidden
}
.fela-cp2iul{
    background-color:#fff;
    border-bottom:1px solid #eceae6
}
.fela-o603hx{
    max-width:100% !important;
    margin-left:125px
}
.fela-14dtxzo{
    background-color:#eceae6;
    position:relative;
    padding-bottom:500px;
    overflow:hidden
}
.fela-j8ny5b{
    position:absolute;
    top:50%;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%);
    width:100%
}
.fela-1w9unn7{
    position:relative;
    background:#fdfcfa;
    -webkit-justify-content:center;
    justify-content:center;
    -webkit-box-pack:center;
    margin-bottom:20px
}
.fela-1er1790{
    position:relative;
    margin-top:-60px
}
.fela-z7wz1t{
    margin-top:20px;
    max-width:100% !important
}
.fela-vt03f5:hover{
    color:#91c11e
}
.fela-vt03f5{
    font-family:Source Sans Pro;
    font-size:16px;
    color:#343434;
    text-decoration:none;
    line-height:24px;
    vertical-align:middle;
    display:inline-block;
    padding:4px
}
.fela-rxffqe{
    margin:0px !important;
    padding:10px 0
}
.fela-36rlri{
    display:inline-block
}
.fela-hygd9s{
    margin:-2px 0 0
}
.fela-qwxn3w{
    padding:0px 15px
}
.fela-1rtnddl{
    vertical-align:middle;
    box-sizing:content-box
}
.fela-1bkznaq{
    -webkit-justify-content:center;
    justify-content:center;
    -webkit-box-pack:center
}
.fela-cqj1lg{
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;
    -webkit-flex:1 1 0%;
    flex:1 1 0%;
    -webkit-flex-direction:row;
    flex-direction:row;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -webkit-flex-wrap:wrap;
    flex-wrap:wrap;
    -webkit-box-lines:multiple;
    box-sizing:border-box;
    width:100%
}
.fela-fbwvw7{
    -webkit-flex:1 1 0;
    flex:1 1 0;
    box-sizing:border-box
}
.fela-sprss5{
    text-align:center;
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;
    position:absolute;
    z-index:99;
    right:0px;
    top:-60px;
    background:#fff;
    border:solid 1px #f7f6f4;
    padding-right:5px;
    padding-left:5px
}
.fela-1h2qf8y{
    display:none;
    height:42px;
    top:-43px;
    width:100%;
    left:0px;
    background-image:-webkit-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    background-image:-moz-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    background-image:linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    position:absolute
}
.fela-ugeuo0> span{
    background-color:#f2f6e8 !important
}
.fela-ugeuo0{
    color:#659a41;
    background-color:#f2f6e8 !important;
    text-align:center;
    padding:5px
}
.fela-1khh348{
    display:none
}
.fela-e296pg{
    position:relative
}
.fela-v3ixvt{
    padding:10px;
    border:none;
    background-color:transparent;
    outline:none;
    cursor:pointer
}
.fela-aqung0{
    background:#fff;
    border:solid 1px #f7f6f4;
    line-height:1.7em;
    font-size:16px;
    font-weight:400;
    padding:10px
}
.fela-1nezeyg{
    margin:0px !important
}
.fela-1wb3th7{
    border-top:solid 1px #f7f6f4;
    margin:20px 0 0 !important;
    padding-left:0px !important
}
.fela-1nwu1vk{
    border-top:solid 1px #f7f6f4;
    margin:20px 0 0 !important;
    padding-right:0px !important
}
.fela-y6xryt{
    text-align:left !important;
    line-height:1.7em !important
}
.fela-gtjexx{
    line-height:1.5em !important;
    font-size:16px !important
}
.fela-8xd6nf{
    margin-top:10px;
    margin-bottom:10px
}
.fela-96eiwp{
    float:right
}
.fela-1pgo4wm{
    margin-left:20px
}
.fela-9sirm5{
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;
    -webkit-flex:1 1 0%;
    flex:1 1 0%;
    -webkit-flex-direction:row;
    flex-direction:row;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -webkit-flex-wrap:wrap;
    flex-wrap:wrap;
    -webkit-box-lines:multiple;
    box-sizing:border-box
}
.fela-1awe7u3{
    -webkit-flex:1 1 0;
    flex:1 1 0;
    box-sizing:border-box
}
.fela-11f55ha{
    color:#343434;
    font-family:Montserrat;
    font-weight:400;
    letter-spacing:-0.3px;
    margin:0px;
    padding:0px;
    text-align:center
}
.fela-1k6y94c{
    color:#343434;
    font-family:Montserrat;
    font-weight:400;
    letter-spacing:-0.3px;
    margin:0px;
    padding:0px;
    text-align:left
}
.fela-wf7w8b{
    -webkit-flex:1 1 0;
    flex:1 1 0;
    box-sizing:border-box
}
.fela-t5g5kq{
    display:inline-block;
    position:relative;
    width:50px;
    height:50px;
    background:#fff;
    border:solid 1px #f7f6f4;
    border-radius:50%;
    cursor:pointer
}
.fela-1aqk9w6{
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%)
}
.fela-txpp0u{
    position:absolute;
    width:100%;
    height:100%;
    box-shadow:inset 0px -45px 40px 0px #fff
}
.fela-1r6j2bx{
    font-size:14px;
    font-weight:600;
    color:#91c11e;
    cursor:pointer;
    position:absolute;
    bottom:0px;
    text-align:center;
    width:100%
}
.fela-zwi0a0{
    padding-top:20px;
    line-height:1.5em
}
.fela-9410q1{
    line-height:1.5em;
    color:#999;
    padding-top:20px
}
.fela-v2ydqh{
    font-weight:600;
    color:#343434;
    padding-right:5px
}
.fela-tfeur6{
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;
    -webkit-flex:1 1 0%;
    flex:1 1 0%;
    -webkit-flex-direction:row;
    flex-direction:row;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -webkit-flex-wrap:wrap;
    flex-wrap:wrap;
    -webkit-box-lines:multiple;
    box-sizing:border-box
}
.fela-1wtg4wo{
    -webkit-flex:1 1 0;
    flex:1 1 0;
    box-sizing:border-box
}
.fela-13jy121{
    margin:0 5px;
    font-weight:600
}
.fela-1slhjvb{
    padding-right:0px !important
}
.fela-19qpnoj{
    clear:both;
    margin-top:20px
}
.fela-h97t31{
    display:inline-block;
    font-weight:600
}
.fela-107ja4p{
    float:right
}
.fela-tjva17{
    background:#fff;
    border:solid 1px #f7f6f4;
    line-height:1.7;
    font-weight:400;
    padding:10px;
    margin-top:10px;
    font-size:14px
}
.fela-1y67dgc{
    overflow:hidden
}
.fela-1e74q5z{
    text-align:center;
    border-radius:50%;
    height:90px;
    width:90px;
    padding:0 !important;
}
.fela-ezf9vh{
    position:relative;
    top:50%;
    left:50%;
    -webkit-transform:translateY(-50%) translateX(-50%);
    transform:translateY(-50%) translateX(-50%);
    height:90px
}
.fela-1evwzu{
    margin-bottom:10px;
    text-decoration:none;
    color:#343434 !important;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    margin-top:5px !important
}
.fela-1mo7b68{
    line-height:24px;
    min-height:48px;
    overflow:hidden;
    position:relative;
    text-overflow:hidden
}
.fela-1qgfkbv{
    display:inline-block;
    color:#91c11e;
    text-decoration:none
}
.fela-1th6fn7{
    overflow-x:hidden;
    width:100%
}
.fela-1y8wes0{
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;
    position:relative;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    transition:-webkit-transform 250ms ease-in-out,transform 250ms ease-in-out;
    -webkit-transition:-webkit-transform 250ms ease-in-out,transform 250ms ease-in-out;
    -moz-transition:transform 250ms ease-in-out
}
.fela-16dx6ia{
    box-sizing:border-box;
    -webkit-flex:1 0 100%;
    flex:1 0 100%
}
.fela-g7chwy{
    box-sizing:border-box;
    -webkit-flex:1 0 100%;
    flex:1 0 100%
}
.fela-1jneo86{
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;
    -webkit-flex:1 1 0%;
    flex:1 1 0%;
    -webkit-flex-direction:row;
    flex-direction:row;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -webkit-flex-wrap:wrap;
    flex-wrap:wrap;
    -webkit-box-lines:multiple;
    box-sizing:border-box
}
.fela-19w0wtt{
    -webkit-flex:1 1 0;
    flex:1 1 0;
    box-sizing:border-box
}
.fela-hw11pc{
    -webkit-flex:1 1 0;
    flex:1 1 0;
    box-sizing:border-box
}
.fela-1elq0px{
    color:#343434;
    font-family:Montserrat;
    font-weight:400;
    letter-spacing:-0.3px;
    margin:0px;
    padding:0px;
    text-align:left
}
.fela-tv9cgt{
    position:absolute;
    width:100%;
    bottom:10px;
    left:0px;
    text-align:center
}
.fela-lm590s{
    padding:10px 5px;
    box-sizing:border-box;
    cursor:pointer
}
.fela-y8iqww{
    display:inline-block;
    width:10px;
    height:10px;
    border-radius:50%;
    background:#91c11e
}
.fela-1gce2e7{
    display:inline-block;
    width:10px;
    height:10px;
    border-radius:50%;
    background:#eceae6
}
.fela-bocvrq{
    position:absolute;
    cursor:pointer;
    top:50%;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%);
    background:#fff;
    padding:17px 20px;
    box-sizing:content-box;
    right:0px
}
.fela-1mo23mm{
    vertical-align:middle;
    box-sizing:content-box;
    cursor:pointer
}
.fela-14rj0g3{
    background:#fff;
    border:solid 1px #f7f6f4;
    padding:10px
}
.fela-c25dd1{
    width:60%;
    height:24px;
    margin-bottom:20px;
    -webkit-animation-duration:1.5s;
    animation-duration:1.5s;
    -webkit-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
    -webkit-animation-iteration-count:infinite;
    animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
    animation-timing-function:linear;
    -webkit-animation-name:k1;
    animation-name:k1;
    background:-webkit-linear-gradient(to right, #f5f5f5 8%, #ebebeb 18%, #f5f5f5 33%);
    background:-moz-linear-gradient(to right, #f5f5f5 8%, #ebebeb 18%, #f5f5f5 33%);
    background:linear-gradient(to right, #f5f5f5 8%, #ebebeb 18%, #f5f5f5 33%);
    background-size:1000px
}
.fela-c370jz{
    width:50%;
    display:inline-block;
    margin-bottom:10px
}
.fela-ldyu8q{
    width:70px;
    height:70px;
    border-radius:50%;
    float:left;
    -webkit-animation-duration:1.5s;
    animation-duration:1.5s;
    -webkit-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
    -webkit-animation-iteration-count:infinite;
    animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
    animation-timing-function:linear;
    -webkit-animation-name:k1;
    animation-name:k1;
    background:-webkit-linear-gradient(to right, #f5f5f5 8%, #ebebeb 18%, #f5f5f5 33%);
    background:-moz-linear-gradient(to right, #f5f5f5 8%, #ebebeb 18%, #f5f5f5 33%);
    background:linear-gradient(to right, #f5f5f5 8%, #ebebeb 18%, #f5f5f5 33%);
    background-size:1000px
}
.fela-1bqf1q7{
    display:inline-block;
    width:45%;
    height:20px;
    margin-top:25px;
    margin-left:20px;
    -webkit-animation-duration:1.5s;
    animation-duration:1.5s;
    -webkit-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
    -webkit-animation-iteration-count:infinite;
    animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
    animation-timing-function:linear;
    -webkit-animation-name:k1;
    animation-name:k1;
    background:-webkit-linear-gradient(to right, #f5f5f5 8%, #ebebeb 18%, #f5f5f5 33%);
    background:-moz-linear-gradient(to right, #f5f5f5 8%, #ebebeb 18%, #f5f5f5 33%);
    background:linear-gradient(to right, #f5f5f5 8%, #ebebeb 18%, #f5f5f5 33%);
    background-size:1000px
}
.fela-6olnjf{
    -webkit-flex:1 1 0;
    flex:1 1 0;
    box-sizing:border-box
}
.fela-n93uw4{
    display:block;
    margin-bottom:10px
}
.fela-1yiyn9m{
    display:inline-block;
    width:45%;
    height:20px;
    -webkit-animation-duration:1.5s;
    animation-duration:1.5s;
    -webkit-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
    -webkit-animation-iteration-count:infinite;
    animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
    animation-timing-function:linear;
    -webkit-animation-name:k1;
    animation-name:k1;
    background:-webkit-linear-gradient(to right, #f5f5f5 8%, #ebebeb 18%, #f5f5f5 33%);
    background:-moz-linear-gradient(to right, #f5f5f5 8%, #ebebeb 18%, #f5f5f5 33%);
    background:linear-gradient(to right, #f5f5f5 8%, #ebebeb 18%, #f5f5f5 33%);
    background-size:1000px
}
.fela-a3gn8p{
    display:inline-block;
    width:15%;
    float:right;
    height:20px;
    -webkit-animation-duration:1.5s;
    animation-duration:1.5s;
    -webkit-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
    -webkit-animation-iteration-count:infinite;
    animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
    animation-timing-function:linear;
    -webkit-animation-name:k1;
    animation-name:k1;
    background:-webkit-linear-gradient(to right, #f5f5f5 8%, #ebebeb 18%, #f5f5f5 33%);
    background:-moz-linear-gradient(to right, #f5f5f5 8%, #ebebeb 18%, #f5f5f5 33%);
    background:linear-gradient(to right, #f5f5f5 8%, #ebebeb 18%, #f5f5f5 33%);
    background-size:1000px
}
.fela-kprkbv{
    -webkit-flex:1 1 0;
    flex:1 1 0;
    box-sizing:border-box
}
.fela-14s1ns7{
    position:relative;
    background:#fff;
    border:solid 1px #f7f6f4;
    padding:10px
}
.fela-1gtzno4{
    font-size:24px;
    font-weight:300;
    line-height:1.3em;
    color:#000
}
.fela-gsaurf{
    position:absolute;
    right:30px;
    top:15px
}
.fela-17ohzvl> div > div{
    padding:8px 16px
}
.fela-17ohzvl{
    font-size:16px;
    line-height:1.5em
}
.fela-1hp58hk{
    display:inline-block;
    color:#b0aba3;
    font-size:14px;
    line-height:1.43em;
    margin-right:10px;
    margin-bottom:10px
}
.fela-txm046> div{
    display:inline-block;
    border-color:#eceae6 !important
}
.fela-txm046{
    display:inline-block;
    border-color:#eceae6 !important
}
.fela-1nvkkrt{
    font-size:24px;
    font-weight:300;
    line-height:1.3em;
    color:#000;
    cursor:pointer
}
.fela-y4bb05{
    margin-left:10px
}
.fela-pu17tn{
    position:relative;
    margin:0 20px;
    border-top:1px solid #eceae6;
    border-bottom:1px solid #eceae6
}
.fela-r7xe7e{
    padding:10px 0;
    text-align:center
}
.fela-uf1g4g{
    font-size:24px;
    font-weight:300;
    line-height:1.3em;
    color:#000
}
.fela-bj2f19{
    margin-top:20px
}
.fela-coh30y{
    border-radius:50%;
    width:70px;
    height:70px;
    box-sizing:border-box;
    border:solid 1px #f7f6f4;
    float:left
}
.fela-zrr6hn{
    padding:5px;
    border-radius:50%;
    width:70px;
    height:70px;
    box-sizing:border-box
}
.fela-1nnptk7{
    font-size:14px;
    margin-left:85px;
    margin-top:12px;
    word-break:break-word;
    word-wrap:break-word
}
.fela-2htk9c{
    margin:0px;
    line-height:1.7;
    font-weight:400
}
.fela-c30jy9{
    margin:0px;
    line-height:1.7
}
.fela-oxs2bj{
    margin:0px
}
.fela-vhdmhx{
    display:inline;
    color:#000;
    line-height:1.7;
    margin:0px;
    font-style:italic
}
.fela-m0te3e{
    margin-right:5px
}
.fela-pgfqnw{
    font-weight:600
}
.fela-z78u3q{
    border-top:1px solid #eceae6;
    padding-top:20px !important;
    letter-spacing:-0.3px;
    margin:20px 0 0 !important
}
.fela-yhsm8{
    font-size:24px;
    font-weight:300;
    line-height:1.3em;
    color:#000
}
.fela-16lywy4{
    position:relative;
    cursor:pointer;
    font-size:14px;
    font-weight:400;
    line-height:1.5em;
    color:#b0aba3;
    text-align:center;
    background-color:#fff
}
.fela-1cznd19:hover{
    background-color:#91c11e
}
.fela-1cznd19{
    display:inline-block;
    padding:8px 16px;
    border:solid 1px #eceae6;
    border-left:solid 1px #eceae6;
    background-color:#91c11e;
    border-color:#91c11e;
    color:#fff;
    cursor:default;
    z-index:1
}
.fela-v1g1ps:hover{
    background-color:#ebebeb
}
.fela-v1g1ps{
    display:inline-block;
    padding:8px 16px;
    border:solid 1px #eceae6;
    border-left:none
}
.fela-1a4xx40{
    -webkit-flex:1 1 0;
    flex:1 1 0;
    box-sizing:border-box
}
.fela-1fjsxag{
    position:relative;
    overflow:hidden;
    padding-bottom:100%
}
.fela-1tyvnrj{
    top:50%;
    bottom:0px;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%);
    display:block;
    height:auto;
    max-width:100%;
    left:0px;
    position:absolute;
    opacity:1;
    transition:opacity 0.3s linear;
    -webkit-transition:opacity 0.3s linear;
    -moz-transition:opacity 0.3s linear;
    width:100%;
    background:#f5f5f5;
    padding-bottom:100%
}
.fela-17d8dtz{
    top:50%;
    bottom:0px;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%);
    display:block;
    height:auto;
    max-width:100%;
    left:0px;
    position:absolute;
    opacity:0;
    transition:opacity 0.3s linear;
    -webkit-transition:opacity 0.3s linear;
    -moz-transition:opacity 0.3s linear;
    right:0px;
    margin:0 auto
}
.fela-1dgxlse{
    top:50%;
    bottom:0px;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%);
    display:block;
    height:auto;
    max-width:100%;
    left:0px;
    position:absolute;
    opacity:0;
    transition:opacity 0.3s linear;
    -webkit-transition:opacity 0.3s linear;
    -moz-transition:opacity 0.3s linear;
    width:100%;
    background:#f5f5f5;
    padding-bottom:100%
}
.fela-qvabuu{
    top:50%;
    bottom:0px;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%);
    display:block;
    height:auto;
    max-width:100%;
    left:0px;
    position:absolute;
    opacity:1;
    transition:opacity 0.3s linear;
    -webkit-transition:opacity 0.3s linear;
    -moz-transition:opacity 0.3s linear;
    right:0px;
    margin:0 auto
}
.fela-1mq2bj0{
    background:#fff;
    border:solid 1px #f7f6f4;
    padding:10px
}
.fela-1it3mc2{
    font-size:24px;
    font-weight:300;
    line-height:1.3em;
    color:#000
}
.fela-7j2qei{
    font-size:14px;
    line-height:1.71em;
    text-align:right;
    float:right;
    color:#999
}
.fela-1xe4zlx{
    cursor:pointer
}
.fela-q7dfav{
    clear:both
}
.fela-6g7rgp{
    margin-top:20px;
    font-size:14px;
    line-height:1.71em;
    color:#343434
}
.fela-7564be{
    margin-top:10px;
    font-size:14px;
    line-height:1.3em;
    color:#999
}
.fela-16efsj0{
    -webkit-flex:1 1 0;
    flex:1 1 0;
    box-sizing:border-box
}
@media only screen and (min-width: 0px){
    .fela-1bkznaq{
        padding-left:15px;
        padding-right:15px
    }
    .fela-fbwvw7{
        -webkit-flex-basis:100%;
        flex-basis:100%;
        max-width:100%
    }
    .fela-9sirm5{
        margin-right:-5px;
        margin-left:-5px
    }
    .fela-1awe7u3{
        padding-right:5px;
        padding-left:5px;
        -webkit-flex-basis:100%;
        flex-basis:100%;
        max-width:100%
    }
    .fela-11f55ha{
        font-size:24px;
        line-height:32px
    }
    .fela-1k6y94c{
        font-size:20px;
        line-height:28px
    }
    .fela-wf7w8b{
        padding-right:5px;
        padding-left:5px;
        -webkit-flex-basis:100%;
        flex-basis:100%;
        max-width:100%
    }
    .fela-tfeur6{
        margin-right:-5px;
        margin-left:-5px;
        -webkit-flex-direction:row;
        flex-direction:row;
        -webkit-box-orient:horizontal;
        -webkit-box-direction:normal
    }
    .fela-1wtg4wo{
        padding-right:5px;
        padding-left:5px;
        -webkit-flex-basis:100%;
        flex-basis:100%;
        max-width:100%
    }
    .fela-1y3g1hu{
        margin-left:0px;
        margin-right:0px
    }
    .fela-1y8wes0{
        left:0%;
        -webkit-transform:translateX(100%);
        transform:translateX(100%)
    }
    .fela-16dx6ia{
        -webkit-flex-basis:100%;
        flex-basis:100%;
        max-width:100%;
        -webkit-order:0;
        order:0
    }
    .fela-g7chwy{
        -webkit-flex-basis:100%;
        flex-basis:100%;
        max-width:100%;
        -webkit-order:1;
        order:1
    }
    .fela-1jneo86{
        margin-right:-5px;
        margin-left:-5px;
        -webkit-justify-content:center;
        justify-content:center;
        -webkit-box-pack:center
    }
    .fela-19w0wtt{
        padding-right:5px;
        padding-left:5px;
        -webkit-flex-basis:100%;
        flex-basis:100%;
        max-width:100%
    }
    .fela-hw11pc{
        padding-right:5px;
        padding-left:5px;
        -webkit-flex-basis:100%;
        flex-basis:100%;
        max-width:100%
    }
    .fela-1elq0px{
        font-size:14px;
        line-height:20px
    }
    .fela-bocvrq{
        right:0px
    }
    .fela-6olnjf{
        padding-right:5px;
        padding-left:5px;
        -webkit-order:1;
        order:1;
        -webkit-flex-basis:100%;
        flex-basis:100%;
        max-width:100%
    }
    .fela-kprkbv{
        padding-right:5px;
        padding-left:5px;
        -webkit-order:2;
        order:2;
        -webkit-flex-basis:100%;
        flex-basis:100%;
        max-width:100%
    }
    .fela-1a4xx40{
        padding-right:5px;
        padding-left:5px;
        -webkit-flex-basis:100%;
        flex-basis:100%;
        max-width:100%
    }
    .fela-16efsj0{
        padding-right:5px;
        padding-left:5px;
        -webkit-flex-basis:100%;
        flex-basis:100%;
        max-width:100%
    }
}
@media only screen and (min-width: 640px){
    .fela-14dtxzo{
        margin-right:-10px;
        margin-left:-10px
    }
    .fela-9sirm5{
        margin-right:-5px;
        margin-left:-5px
    }
    .fela-1awe7u3{
        padding-right:5px;
        padding-left:5px
    }
    .fela-wf7w8b{
        padding-right:5px;
        padding-left:5px
    }
    .fela-txpp0u{
        display:none
    }
    .fela-1r6j2bx{
        display:none
    }
    .fela-tfeur6{
        margin-right:-5px;
        margin-left:-5px
    }
    .fela-1wtg4wo{
        padding-right:5px;
        padding-left:5px
    }
    .fela-tjva17{
        padding:0px;
        border-top:none;
        margin-top:0px
    }
    .fela-1y3g1hu{
        margin-left:0px;
        margin-right:0px
    }
    .fela-1y8wes0{
        left:0%;
        -webkit-transform:translateX(100%);
        transform:translateX(100%)
    }
    .fela-16dx6ia{
        -webkit-flex-basis:100%;
        flex-basis:100%;
        max-width:100%;
        -webkit-order:0;
        order:0
    }
    .fela-g7chwy{
        -webkit-flex-basis:100%;
        flex-basis:100%;
        max-width:100%;
        -webkit-order:1;
        order:1
    }
    .fela-1jneo86{
        margin-right:-5px;
        margin-left:-5px
    }
    .fela-19w0wtt{
        padding-right:5px;
        padding-left:5px
    }
    .fela-hw11pc{
        padding-right:5px;
        padding-left:5px
    }
    .fela-bocvrq{
        right:0px
    }
    .fela-6olnjf{
        padding-right:5px;
        padding-left:5px
    }
    .fela-kprkbv{
        padding-right:5px;
        padding-left:5px
    }
    .fela-1hp58hk{
        margin-bottom:0px
    }
    .fela-r7xe7e{
        padding:20px 0
    }
    .fela-1a4xx40{
        padding-right:5px;
        padding-left:5px;
        -webkit-flex-basis:50%;
        flex-basis:50%;
        max-width:50%
    }
    .fela-16efsj0{
        padding-right:5px;
        padding-left:5px;
        -webkit-flex-basis:50%;
        flex-basis:50%;
        max-width:50%
    }
}
@media only screen and (min-width: 768px){
    .fela-1bkznaq{
        padding-left:30px;
        padding-right:30px
    }
    .fela-aqung0{
        padding:20px
    }
    .fela-9sirm5{
        margin-right:-10px;
        margin-left:-10px
    }
    .fela-1awe7u3{
        padding-right:10px;
        padding-left:10px;
        -webkit-flex-basis:66.66666666666666%;
        flex-basis:66.66666666666666%;
        max-width:66.66666666666666%
    }
    .fela-11f55ha{
        font-size:32px;
        line-height:38px
    }
    .fela-1k6y94c{
        font-size:24px;
        line-height:32px
    }
    .fela-wf7w8b{
        padding-right:10px;
        padding-left:10px;
        -webkit-flex-basis:33.33333333333333%;
        flex-basis:33.33333333333333%;
        max-width:33.33333333333333%
    }
    .fela-tfeur6{
        margin-right:-10px;
        margin-left:-10px
    }
    .fela-1wtg4wo{
        padding-right:10px;
        padding-left:10px
    }
    .fela-1y67dgc{
        padding:25px 64px
    }
    .fela-1y3g1hu{
        margin-left:0px;
        margin-right:0px
    }
    .fela-1y8wes0{
        left:0%;
        -webkit-transform:translateX(100%);
        transform:translateX(100%)
    }
    .fela-16dx6ia{
        -webkit-flex-basis:100%;
        flex-basis:100%;
        max-width:100%;
        -webkit-order:0;
        order:0
    }
    .fela-g7chwy{
        -webkit-flex-basis:100%;
        flex-basis:100%;
        max-width:100%;
        -webkit-order:1;
        order:1
    }
    .fela-1jneo86{
        margin-right:-10px;
        margin-left:-10px;
        -webkit-justify-content:flex-start;
        justify-content:flex-start;
        -webkit-box-pack:start
    }
    .fela-19w0wtt{
        padding-right:10px;
        padding-left:10px;
        -webkit-flex-basis:14.285714285714285%;
        flex-basis:14.285714285714285%;
        max-width:14.285714285714285%
    }
    .fela-hw11pc{
        padding-right:10px;
        padding-left:10px;
        -webkit-flex-basis:85.71428571428571%;
        flex-basis:85.71428571428571%;
        max-width:85.71428571428571%
    }
    .fela-1elq0px{
        font-size:16px;
        line-height:24px
    }
    .fela-tv9cgt{
        display:none
    }
    .fela-bocvrq{
        right:0px
    }
    .fela-14rj0g3{
        padding:20px
    }
    .fela-6olnjf{
        padding-right:10px;
        padding-left:10px
    }
    .fela-kprkbv{
        padding-right:10px;
        padding-left:10px
    }
    .fela-14s1ns7{
        padding:20px
    }
    .fela-1a4xx40{
        padding-right:10px;
        padding-left:10px
    }
    .fela-1mq2bj0{
        padding:20px
    }
    .fela-16efsj0{
        padding-right:10px;
        padding-left:10px
    }
}
@media only screen and (min-width: 1024px){
    .fela-1bkznaq{
        padding-left:0px;
        padding-right:0px
    }
    .fela-fbwvw7{
        -webkit-flex-basis:964px;
        flex-basis:964px;
        max-width:964px
    }
    .fela-9sirm5{
        margin-right:-10px;
        margin-left:-10px
    }
    .fela-1awe7u3{
        padding-right:10px;
        padding-left:10px
    }
    .fela-wf7w8b{
        padding-right:10px;
        padding-left:10px
    }
    .fela-tfeur6{
        margin-right:-10px;
        margin-left:-10px
    }
    .fela-1wtg4wo{
        padding-right:10px;
        padding-left:10px
    }
    .fela-tjva17{
        font-size:16px
    }
    .fela-1y3g1hu{
        margin-left:0px;
        margin-right:0px
    }
    .fela-1y8wes0{
        left:0%;
        -webkit-transform:translateX(100%);
        transform:translateX(100%)
    }
    .fela-16dx6ia{
        padding-left:0px;
        padding-right:0px;
        -webkit-flex-basis:100%;
        flex-basis:100%;
        max-width:100%;
        -webkit-order:0;
        order:0
    }
    .fela-g7chwy{
        padding-left:0px;
        padding-right:0px;
        -webkit-flex-basis:100%;
        flex-basis:100%;
        max-width:100%;
        -webkit-order:1;
        order:1
    }
    .fela-1jneo86{
        margin-right:-10px;
        margin-left:-10px
    }
    .fela-19w0wtt{
        padding-right:10px;
        padding-left:10px
    }
    .fela-hw11pc{
        padding-right:10px;
        padding-left:10px
    }
    .fela-bocvrq{
        right:0px
    }
    .fela-6olnjf{
        padding-right:10px;
        padding-left:10px;
        -webkit-order:2;
        order:2;
        -webkit-flex-basis:33.33333333333333%;
        flex-basis:33.33333333333333%;
        max-width:33.33333333333333%
    }
    .fela-kprkbv{
        padding-right:10px;
        padding-left:10px;
        -webkit-order:1;
        order:1;
        -webkit-flex-basis:66.66666666666666%;
        flex-basis:66.66666666666666%;
        max-width:66.66666666666666%
    }
    .fela-1hp58hk{
        font-size:16px;
        line-height:1.5
    }
    .fela-1nvkkrt{
        display:none !important
    }
    .fela-pu17tn{
        display:none !important
    }
    .fela-uf1g4g{
        margin-top:10px
    }
    .fela-yhsm8{
        margin-top:10px
    }
    .fela-1a4xx40{
        padding-right:10px;
        padding-left:10px
    }
    .fela-7j2qei{
        padding-top:5px
    }
    .fela-1xe4zlx{
        display:none !important
    }
    .fela-16efsj0{
        padding-right:10px;
        padding-left:10px;
        -webkit-flex-basis:100%;
        flex-basis:100%;
        max-width:100%
    }
}
@media only screen and (min-width: 1200px){
    .fela-14dtxzo{
        margin-right:-15px;
        margin-left:-15px
    }
    .fela-fbwvw7{
        -webkit-flex-basis:1140px;
        flex-basis:1140px;
        max-width:1140px
    }
    .fela-aqung0{
        padding:20px 30px
    }
    .fela-9sirm5{
        margin-right:-15px;
        margin-left:-15px
    }
    .fela-1awe7u3{
        padding-right:15px;
        padding-left:15px
    }
    .fela-wf7w8b{
        padding-right:15px;
        padding-left:15px
    }
    .fela-tfeur6{
        margin-right:-15px;
        margin-left:-15px
    }
    .fela-1wtg4wo{
        padding-right:15px;
        padding-left:15px
    }
    .fela-tjva17{
        padding:0px
    }
    .fela-1y3g1hu{
        margin-left:0px;
        margin-right:0px
    }
    .fela-1y8wes0{
        left:0%;
        -webkit-transform:translateX(100%);
        transform:translateX(100%)
    }
    .fela-16dx6ia{
        padding-left:0px;
        padding-right:0px;
        -webkit-flex-basis:100%;
        flex-basis:100%;
        max-width:100%;
        -webkit-order:0;
        order:0
    }
    .fela-g7chwy{
        padding-left:0px;
        padding-right:0px;
        -webkit-flex-basis:100%;
        flex-basis:100%;
        max-width:100%;
        -webkit-order:1;
        order:1
    }
    .fela-1jneo86{
        margin-right:-15px;
        margin-left:-15px
    }
    .fela-19w0wtt{
        padding-right:15px;
        padding-left:15px
    }
    .fela-hw11pc{
        padding-right:15px;
        padding-left:15px
    }
    .fela-bocvrq{
        right:0px
    }
    .fela-14rj0g3{
        padding:20px 30px
    }
    .fela-6olnjf{
        padding-right:15px;
        padding-left:15px
    }
    .fela-kprkbv{
        padding-right:15px;
        padding-left:15px
    }
    .fela-14s1ns7{
        padding:20px 30px
    }
    .fela-1a4xx40{
        padding-right:15px;
        padding-left:15px
    }
    .fela-1mq2bj0{
        padding:20px 30px
    }
    .fela-16efsj0{
        padding-right:15px;
        padding-left:15px
    }
}
@media only screen and (max-width: 1199px){
    .fela-14dtxzo{
        padding-bottom:50vh
    }
    .fela-1evwzu{
        margin-top:0 !important
    }
    .fela-z78u3q{
        margin:20px !important;
        font-size:16px
    }
}
@media only screen and (max-width: 1023px){
    .fela-cp2iul{
        display:none
    }
    .fela-1khh348{
        display:inline-block !important
    }
    .fela-aqung0{
        font-size:14px
    }
    .fela-1e74q5z{
        width:80px;
        height:80px
    }
    .fela-14s1ns7{
        padding:0px !important
    }
    .fela-1gtzno4{
        display:none !important
    }
    .fela-1nvkkrt{
        padding:20px
    }
    .fela-pu17tn{
        display:none !important
    }
    .fela-uf1g4g{
        display:none !important
    }
    .fela-z78u3q{
        display:none !important
    }
    .fela-yhsm8{
        display:none !important
    }
    .fela-1mq2bj0{
        padding:0px !important
    }
    .fela-1qmjd6x{
        display:none !important
    }
    .fela-1xe4zlx{
        padding:20px
    }
    .fela-q7dfav{
        display:none !important
    }
}
@media only screen and (max-width: 767px){
    .fela-14dtxzo{
        padding-bottom:25vh !important
    }
    .fela-sprss5{
        position:fixed;
        width:100%;
        left:0px !important;
        bottom:0px;
        top:auto
    }
    .fela-1h2qf8y{
        display:block !important
    }
    .fela-1wb3th7{
        margin:10px 0 0 !important
    }
    .fela-1nwu1vk{
        margin:10px 0 0 !important
    }
    .fela-96eiwp{
        float:none;
        text-align:center
    }
    .fela-zwi0a0{
        padding-top:10px
    }
    .fela-9410q1{
        padding-top:10px
    }
    .fela-19qpnoj{
        margin-top:10px
    }
    .fela-1y67dgc{
        min-height:210px
    }
    .fela-1e74q5z{
        margin-top:0px;
        margin-bottom:10px;
        margin:0 auto 10px
    }
    .fela-1evwzu{
        margin-top:5px !important
    }
    .fela-6u3t9w{
        text-align:center !important
    }
    .fela-1mo7b68{
        text-align:center;
        width:95%;
        margin:0 auto;
        display:block;
        line-height:20px;
        min-height:60px
    }
    .fela-1rc05p4{
        display:none
    }
    .fela-1gtzno4{
        font-size:16px
    }
    .fela-1nvkkrt{
        font-size:16px;
        padding:10px !important
    }
    .fela-uf1g4g{
        font-size:16px
    }
    .fela-bj2f19{
        margin-top:10px
    }
    .fela-yhsm8{
        font-size:16px
    }
    .fela-1it3mc2{
        font-size:16px
    }
    .fela-1xe4zlx{
        padding:10px !important
    }
    .fela-6g7rgp{
        margin-top:10px
    }
}
@media only screen and (max-width: 639px){
    .fela-14dtxzo{
        margin-right:-5px;
        margin-left:-5px
    }
    .fela-6ieyue{
        max-height:100px;
        min-height:60px;
        overflow:hidden;
        position:relative
    }
    .fela-1y67dgc{
        min-height:260px
    }
    .fela-c370jz{
        width:100%
    }
    .fela-coh30y{
        width:50px;
        height:50px
    }
    .fela-zrr6hn{
        width:50px;
        height:50px
    }
    .fela-1nnptk7{
        margin-top:8px;
        margin-left:65px
    }
    .fela-2htk9c{
        line-height:1.2
    }
    .fela-c30jy9{
        line-height:1.2
    }
}


.instructions {
	.fela-xexnai {
		max-width: 100%;
	}
}
